<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <%- include('./css/styles'); %>
    <%- include('./javascript/fetch'); %>
    <%- include('./javascript/gerarCartao'); %>



</head>
<body>
  <header class="header-cartao">
    <div class="caixa">



        <h1>Sistema De Compras de Produtos e Serviços</h1>

        <br>

        <nav>
            <ul>
                <li><a href="/gerarCard" class="irCartao">Gerar Cartão</a></li>
                <li><a href="/produtos" class="irProdutos">Produtos</a></li>
                <li><a href="/relatorio">Relatorio</a></li>
            </ul>
        </nav>
    </div>
</header>


<hr class="hr">
  <div class="divProdutoCard">
    <form class="formulario" method="post">
      <label for="cartao">Digite o numero do Cartão:</label>
      <input type="number" id="cartao" name="cartao" class="cartaoProduto">
      <button class="cartaoProduto">Validar Cartão</button>
  </form>
  </div>
  <br>

  <% if (typeof error !== 'undefined' && error !== '') { %>
    <p><%= error %></p>
  <% } %>

  <% if (typeof hit !== 'undefined' && hit !== '') { %>
    <p><%= hit %></p>
    <form class="formulario2" method="post" action="/produtos/comprar">
      <fieldset>
        <legend>Escolha seus Produtos:</legend>


        <div>
          <input type="checkbox" id="cabelo"name="cabelo" value="cabelo"/>
          <label for="cabelo">Cabelo</label>
        </div>

        <div>
          <input type="checkbox" id="barba" name="barba" value="barba"/>
          <label for="barba">Barba</label>
        </div>

        <div>
          <input type="checkbox" id="sobrancelha" name="sobrancelha" value="sobrancelha"/>
          <label for="sobrancelha">Sobrancelha</label>
        </div>

        <div>
          <input type="checkbox" id="limpeza" name="limpeza" value="limpeza"/>
          <label for="limpeza">Limpeza</label>
        </div>

        <div>
          <input type="checkbox" id="nevou" name="nevou" value="nevou"/>
          <label for="nevou">Nevou</label>
        </div>

        <div>
          <input type="checkbox" id="depilacao" name="depilacao" value="depilacao"/>
          <label for="depilacao">Depilação</label>
        </div>
      </fieldset>


      <fieldset>
        <legend>Escolha seus Serviços:</legend>

        <div>
          <input type="checkbox" id="cabeloBarba" name="produtos" value="cabeloBarba"/>
          <label for="cabeloBarba">Cabelo + Barba</label>
        </div>

        <div>
          <input type="checkbox" id="corteCompleto" name="produtos" value="corteCompleto"/>
          <label for="corteCompleto">Corte Completo</label>
        </div>

        <div>
          <input type="checkbox" id="pacoteMensal" name="produtos" value="pacoteMensal"/>
          <label for="pacoteMensal">Pacote Mensal</label>
        </div>

      </fieldset>
      <button>Comprar</button>
    </form>
  <% } %>




        <%- include('./javascript/escondeForm'); %>




</body>
</html>
